<<<<<<< HEAD
/* Style for navigation bar (Parent Container)*/
.navbar {
    overflow: hidden;
    background-color:#52ab98;
  }
  
/*Style for child elements inside navBar*/  
  .navbar a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }

  /* Background color when active
  .Home{
      background-color: #2b6777;
  }
  .MyWork{
      background-color: #2b6777;
  }*/

  .Home{
    margin-left: 60px;
}
  
/*Style for items inside dropdownMenu (Parent Container)*/
  .dropdownMenu {
    float: left;
    overflow: hidden;
  }

/*Style for drop down button (Child element)*/  
  .dropdownMenu .dropButton {
    font-size: 18px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
/* Style when hovering over items in the parent container*/
  .navbar a:hover, .dropdownMenu:hover .dropButton {
    background-color: #2b6777;
  }
  
  /*Style for items inside dropContent(Parent element)*/
  .dropContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

/*Style for child elements inside dropContent*/
  .dropContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
/*Style for child elements in dropContent when hovering*/
  .dropContent a:hover {
    background-color: #ddd;
  }
  
/*Display style for items inside dropContent*/
  .dropdownMenu:hover .dropContent {
    display: block;
  }
=======
/*Remove list points, add background color reset browser settings*/
.navigationBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #52ab98;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 18px;
    font-family: sans-serif;
  }

  /*Float list itmes to the left*/
  li{
      float: left;
  }

/*Display items in block and align texts*/
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }

/*change color upon hovering*/
  li a:hover{
      background-color: #2b6777;
  }
/*change color of tab user is on*/
  .activeHome{
      margin-left: 60px;
      background-color: #2b6777;
  }
  /*Style sheets for drop down button*/
  .dropButton {
    background-color: #52ab98;
    color: white;
    padding: 14px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }

  
>>>>>>> 7551a583b92de4c8ff17a7107e70571380c4ead7
