
/*Style sheet for everything within nav tag 
 standardise all fonts in nav to sans serif*/
 nav{
  font-family: sans-serif;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 3;
  }

/* Style for navigation bar.*/
.navbar {
  background-color:#f6f6f2;
 }
  
/*Style for child elements inside navBar*/  
.navbar a {
  float: left;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: #388087;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

/*Different color when on page*/
.Home{
  margin-left: 60px;
}
  
/*Style for items inside dropdownMenu (Parent Container)*/
.dropdownMenu {
  float: left;
  overflow: hidden; /*Hide overflowed items*/
  background-color: #badfe7;
}

/*Style for drop down button (Child element)*/  
.dropdownMenu .dropButton {
  font-size: 16px;  
  font-family: sans-serif;
  font-weight: bold;
  border: none;
  outline: none;
  color: #388087;
  padding: 14px 30px;
  background-color: inherit; /*Follow background color of set color*/
  font-family: inherit; /*Follow background color of set color*/
  margin: 0;
}
  
/* Style when hovering over items in the parent container*/
.navbar a:hover, .dropdownMenu:hover .dropButton {
  background-color: #badfe7;
}
  
/*Style for items inside dropContent(Parent element)*/
.dropContent {
  display: none; /*No format of display*/
  position: absolute; /*Absolute to "About"*/
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*Box shadow on drop contents*/
  z-index: 1;
}

/*Style for child elements inside dropContent*/
.dropContent a {
  float: none;
  color: #388087;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/*Style for child elements in dropContent when hovering*/
.dropContent a:hover {
  background-color: #badfe7;
}

/*Display style for items inside dropContent*/
.dropdownMenu:hover .dropContent {
  display: block;
}

/*Remove list points, add background color reset browser settings*/
.navigationBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #52ab98;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 18px;
  font-family: sans-serif;
}

/*Float list itmes to the left*/
li{
  float: left;
}

/*Display items in block and align texts*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

/*change color upon hovering*/
li a:hover{
  background-color: #2b6777;
}

/*change color of tab user is on*/
.activeHome{
  margin-left: 60px;
}

/*Style sheets for drop down button*/
.dropButton {
  background-color: #52ab98;
  color: white;
  padding: 14px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

/*Style sheet for "About Me" Section (Parent Container)*/
.header{
  position: relative; /*Set position relative to viewport*/
  top: 0px; /*Leave no space from the viewport*/
  width: 100%; /*Make width to full screen size*/
  height:920px; /*Adjust height to fit content into container*/
  border: 2px solid;
}

/*Style sheet for "About Me" title*/
.aboutMe{
  text-align: center; /*Align title to the center*/
  font-size: 54px; /*Set font size*/
  font-family: sans-serif; /*Set font style*/
  margin-bottom: 71px; /*Create space between title and content*/
  margin-top: 262px; /*Create space betwen top of container and title*/
}

/*Style sheet for about content*/
.aboutContent{
  display: flex; /*make display flexible*/
  flex-direction: row-reverse; /*Set the order to reverse and align in row*/
  width: 900px; /*Set width of content container*/
  margin: auto; /*Align container in the center */
}
  
/*Style sheet for about content (child elements) */
.contentElements{
  margin: auto; /*Align contents in the center of their containers*/
}

/*Style sheet for image in about me content*/
.aboutContent > img{
  width: 192px; /*Set width of image*/
  height: 181px; /*Set height of image*/
  margin-top: 15px; /*Set space between image and top of parent container*/
}

/*Style sheet for p tag in about me content */
.aboutContent > p{
  display: flex;
  text-align: left; /*Align text to the left of the container*/
  font-size: 21px; /*Set font size*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Set font style*/
  margin-top: 0px; /*No space between text container and top of parent container*/
  width: 526px; /*Set width of text container*/
  height: fit-content; /*Set height to fit text content*/
  line-height: 2.0; /*Adjust spacinig between lines*/
  word-spacing: 2px; /*Set word spacing between words*/
  }

/*Stle sheet for hobby section*/
.hobbies{
  width: 100%; /*Set width to full size of screen*/
  height: fit-content; /*Set height to fit content inside hobby section*/
  padding-top: 283px; /*Distance of section from the about me header sectiom*/
}

/*Style sheet for hobby title*/
.hobbyHeader{
  text-align: center; /*Align title to the center*/
  font-size: 54px; /*Set font size to 54 pixels*/
  font-family: sans-serif; /*Set font family of title*/
}

/*Style sheet for hobby content container*/
.hobbyContent{
  display: flex; /*Make display of container flexible*/
  flex-wrap: wrap; /*Allow child containers to wrap*/
  width: 100%; /*Set width to full size of screen*/
  justify-content: center; /*Make child containers align in the center*/
  height: fit-content; /*Set height to fit content*/
  margin-top: 18px; /*Set distance between content and title*/
}

/*Style sheet for hobby elements container*/
.hobbyElements{
  text-align: center; /*Align text in the center */
  margin-top: 0px; /*Leave no space at the top of the text*/
  margin: 38px; /*Set distance between each child container*/
  width: 492px; /*Width of container*/
  height: 440px; /*Height of container*/
}

/*Style sheet for title*/
.hobbyTitle{
  font-size: 24px; /*Set font size*/
  font-family: sans-serif; /*Set font style*/
  font-weight: bold; /*Bold the text*/
  width: 85px; /*Set width of the title container*/
  height: fit-content; /*Set height tofit content*/
  margin: auto; /*Set title in the center of the container*/
  margin-bottom: 26px; /*Set space between title and the paragraph text*/
}

/*Style sheet for title content container*/
.hobbyInfo{
  width: 440px; /*Set width of the content container*/
  height: 360px; /*Set heigh of content container*/
  margin: auto; /*Align container in the center of the child container*/
}

/*Style sheet for title content text*/
.hobbyInfo > p{
  font-size: 20px; /*Set font size*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Set font style*/
  width: 358px; /*Set width of text content*/
  height: fit-content; /*Height to fit text content*/
  margin: auto; /*Align text container in the center*/
  margin-top: 10px; /*Put distance between text container and content container*/
  padding-top: 0px; /*remove distance between text container and content container*/
  margin-bottom: 16px; /*Set distance between text and image*/

}

/*Style sheet for image in the container content*/
.hobbyInfo > img{
  width: 350px; /*Set width of image*/
  height: 200px; /*Set height of image*/
}

/*Style sheet for footer of website*/
footer{
  display: flex; /*Set flexible display*/
  flex-direction: row; /*Align footer in a row*/
  font-size: 14px; /*Set font size of text in footer*/
  font-family:  'Montserrat', sans-serif;    /*Set font family*/
  color: #f6f6f2; /*Set color of text*/
  position: relative; /*Set position relative to viewport*/
  top: 200px; /*Put 200px of distance between relative position*/
  border: 2px solid; /*Set border of the footer*/
  border-color: #388087; /*Set color of the border*/
  background-color: #388087; /*Set background color of footer*/
  width: 100%; /*Maximise width*/
  height: 60px; /*Set height of footer*/
}

/*Style sheet for contents inside the footer tag*/
.developer{
  margin: auto; /*Align text in the center*/
  display: flex; /*make words flexible*/
  flex-direction: row; /*Align texts in a row*/
}

/*Style sheet for socials at the footer*/
.socialsa > img{
  width: 36px; /*Set width of photo*/
  height: 36px; /*Set height of photo*/
  padding: 5px; /*Set space between border of photo*/
  border-radius: 40%; /*Rounded border*/
  text-decoration: none; /*Do not iinclude any decorations between images*/
}