/*Style sheet for everything within nav tag 
standardise all fonts in nav to sans serif*/
nav{
    font-family: sans-serif; /*Change font to sans serif*/
    position: fixed;  /*Whole of navigation bar to have a fixed position on the website*/
    width: 100%; /*Width of navigation bar to take up whole width of webpage*/
    z-index: 3; /*Overlaps other content*/
  }
  
  /* Style for navigation bar.*/
  .navbar {
    background-color:#f6f6f2; /*set background color of navigation bar*/
  }
  
  /*Style for child elements inside navBar*/  
  .navbar a {
    float: left; /*Float child elements to the left*/
    font-size: 16px; /*Set font size*/
    font-family: sans-serif; /*Set font style*/
    font-weight: bold; /*Bole the words*/
    color: #388087; /*Color of the words*/
    text-align: center; /*Align the child elements to the center of their container*/
    padding: 14px 30px; /*Space around the words*/
    text-decoration: none; /*No style of text decoration*/
  }
  
  /*Different color when on page*/
  .Home{
    margin-left: 60px; /*Set space on the left of the home button*/
  }
      
  /*Style for items inside dropdownMenu (Parent Container)*/
  .dropdownMenu {
    float: left; /*Float dropdown menu to the left*/
    overflow: hidden; /*Hide overflowed items*/
    background-color: #badfe7; /*Set background color when user is on page*/
  }
  
  /*Style for drop down button (Child element)*/  
  .dropdownMenu .dropButton {
    font-size: 16px;  /*Set font size */
    font-family: sans-serif; /*Set font family*/
    font-weight: bold; /*Bold the word*/ 
    border: none; /*Set no border*/
    outline: none; /*Set no outlne*/
    color: #388087; /*Color of word*/
    padding: 14px 30px; /*Space between word and container*/
    background-color: inherit; /*Follow background color of set color*/
    font-family: inherit; /*Follow background color of set color*/
    margin: 0;
  }
  
  /* Style when hovering over items in the parent container*/
  .navbar a:hover, .dropdownMenu:hover .dropButton {
    background-color: #badfe7; /*Background color when hoevering over elements*/
  }
    
  /*Style for items inside dropContent(Parent element)*/
  .dropContent {
    display: none; /*No format of display*/
    position: absolute; /*Absolute to "About"*/
    background-color: white; /*Set back ground color of dropdown content*/
    min-width: 160px; /*set minimum width*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*Box shadow on drop contents*/
    z-index: 3; /*Overlaps every other layer*/
  }
  
  /*Style for child elements inside dropContent*/
  .dropContent a {
    float: none; /*No float value*/
    color: #388087; /*Color of word*/
    padding: 12px 16px; /*Set space between word and container*/
    text-decoration: none; /*Set no text decoration*/
    display: block; /*Display item as a block*/
    text-align: left; /*Align text to the left*/
  }
    
  /*Style for child elements in dropContent when hovering*/
  .dropContent a:hover {
    background-color: #badfe7; /*Color when hovering over words in drop down content*/
  }
    
  /*Display style for items inside dropContent*/
  .dropdownMenu:hover .dropContent {
    display: block; /*Display items as a block*/
  }
  
  /*Style sheets for drop down button*/
  .dropButton {
    background-color: #52ab98; /*Set background color*/
    color: #f6f6f2; /*Color of text to be white*/
    padding: 14px 30px; /*Set space between text and container*/
    font-size: 18px; /*Set font size*/
    border: none; /*Set mo border*/
    cursor: pointer; /*Cursor to be pointer when on dropButton*/
  }