/*Style sheet for body*/
/*Background image */
body{
  background-image: linear-gradient(rgba(223, 217, 217, 0.5), rgba(204, 201, 201, 0.5)),url("https://thumbs.dreamstime.com/t/stationery-background-school-tools-seamless-pattern-art-education-wallpaper-line-icons-pencil-pen-paintbrush-palette-169146507.jpg");
  background-repeat: repeat;
  opacity: 1;
}

/*Style sheet for everything within nav tag 
standardise all fonts in nav to sans serif*/
nav{
  font-family: sans-serif; /*Change font to sans serif*/
  position: fixed;  /*Whole of navigation bar to have a fixed position on the website*/
  width: 100%; /*Width of navigation bar to take up whole width of webpage*/
  z-index: 3; /*Overlaps other content*/
}

/* Style for navigation bar.*/
.navbar {
  background-color:#f6f6f2; /*set background color of navigation bar*/
}

/*Style for child elements inside navBar*/  
.navbar a {
  float: left; /*Float child elements to the left*/
  font-size: 16px; /*Set font size*/
  font-family: sans-serif; /*Set font style*/
  font-weight: bold; /*Bole the words*/
  color: #388087; /*Color of the words*/
  text-align: center; /*Align the child elements to the center of their container*/
  padding: 14px 30px; /*Space around the words*/
  text-decoration: none; /*No style of text decoration*/
}

/*Different color when on page*/
.Home{
  margin-left: 60px; /*Set space on the left of the home button*/
}
    
/*Style for items inside dropdownMenu (Parent Container)*/
.dropdownMenu {
  float: left; /*Float dropdown menu to the left*/
  overflow: hidden; /*Hide overflowed items*/
  background-color: #badfe7; /*Set background color when user is on page*/
}

/*Style for drop down button (Child element)*/  
.dropdownMenu .dropButton {
  font-size: 16px;  /*Set font size */
  font-family: sans-serif; /*Set font family*/
  font-weight: bold; /*Bold the word*/ 
  border: none; /*Set no border*/
  outline: none; /*Set no outlne*/
  color: #388087; /*Color of word*/
  padding: 14px 30px; /*Space between word and container*/
  background-color: inherit; /*Follow background color of set color*/
  font-family: inherit; /*Follow background color of set color*/
  margin: 0;
}

/* Style when hovering over items in the parent container*/
.navbar a:hover, .dropdownMenu:hover .dropButton {
  background-color: #badfe7; /*Background color when hoevering over elements*/
}
  
/*Style for items inside dropContent(Parent element)*/
.dropContent {
  display: none; /*No format of display*/
  position: absolute; /*Absolute to "About"*/
  background-color: white; /*Set back ground color of dropdown content*/
  min-width: 160px; /*set minimum width*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*Box shadow on drop contents*/
  z-index: 3; /*Overlaps every other layer*/
}

/*Style for child elements inside dropContent*/
.dropContent a {
  float: none; /*No float value*/
  color: #388087; /*Color of word*/
  padding: 12px 16px; /*Set space between word and container*/
  text-decoration: none; /*Set no text decoration*/
  display: block; /*Display item as a block*/
  text-align: left; /*Align text to the left*/
}
  
/*Style for child elements in dropContent when hovering*/
.dropContent a:hover {
  background-color: #badfe7; /*Color when hovering over words in drop down content*/
}
  
/*Display style for items inside dropContent*/
.dropdownMenu:hover .dropContent {
  display: block; /*Display items as a block*/
}

/*Style sheets for drop down button*/
.dropButton {
  background-color: #52ab98; /*Set background color*/
  color: #f6f6f2; /*Color of text to be white*/
  padding: 14px 30px; /*Set space between text and container*/
  font-size: 18px; /*Set font size*/
  border: none; /*Set mo border*/
  cursor: pointer; /*Cursor to be pointer when on dropButton*/
}

/*Style sheet for header section*/
header{
  padding-top: 229px; /*Increase space above inside header container*/
  max-width: 100%; /*max width is full width of webpage*/
  height: fit-content; /*Height of header container to fit content*/
}

/*Style sheet for education title*/
.educationTitle{
  font-size: 54px; /*Set font size*/
  font-weight: bold; /*Bold the text*/
  font-family: sans-serif; /*Set font style*/
  text-align: center; /*Align the text in the center*/
  width: 269px; /*Set width of text container*/
  height: 74px; /*Set height of text container*/
  margin-left: 300px; /*Set space outside the container on the left*/
  margin-bottom: 115px; /*Set space below and outside the container*/
  background-color: white; /*Set background color of the container*/
}

.educationElements{
  border:none; /*No border for the container*/
  border-radius: 10px; /*Round the border of container*/
  max-width: 1120px; /*Max width of container, can go smaller if screen size is smaller*/
  height: fit-content; /*Height of container to fit content*/
  display: flex; /*Make display flexible*/
  flex-wrap: wrap; /*Wrap items if there isn't enough space*/
  margin: auto; /*Set container in the center of the screen*/
  margin-bottom: 119px; /*Set space outside and bottom of the container*/
  justify-content: center; /*Place content in the center of the parent container*/
  background-color: #2b6777 ; /*Set background color of the container*/
}

.educationContent{
  display: flex; /*Make display flexible*/
  flex-direction: column; /*Arrange flex items in a column*/
  padding-left: 200px; /*Add space inside the container at the left*/
  color: #f6f6f2; /*Color of text in the container*/
}

.educationContent > h2{
  max-width: 262px; /*maximum width of the container, can decrease in size*/
  height: fit-content; /*Height of container to fit content*/
  font-size: 24px; /*Set font size of text*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*Set font style*/
  line-height: 1.5; /*Spacing between each line*/
}

.educationContent > p{
  font-size: 20px; /*Set font size of text*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*Set font style of text*/
  max-width: 518px; /*Maximum width of container, can decrease but not increase in size*/
  height: fit-content; /*Height of container to fit content*/
  line-height: 2.0; /*Space between each line*/
  word-spacing: 2px; /*Space between each word*/
}

.schoolLogo > img{
  max-width: 230px; /*Width of image cannot increase but can decrease in size*/
  height: 215px; /*Height of image*/
  margin-top: 30px; /*Set space on top of image*/
  background-color: #ffffff; /*Background color of image if image has no background*/
}

/*Style sheet for footer of website*/
footer{
  display: flex; /*Set flexible display*/
  flex-direction: row; /*Align footer in a row*/
  font-size: 14px; /*Set font size of text in footer*/
  font-family:  'Montserrat', sans-serif;    /*Set font family*/
  color: #f6f6f2; /*Set color of text*/
  position: relative; /*Set position relative to viewport*/
  top: 0px; /*Put 200px of distance between relative position*/
  border: 2px solid; /*Set border of the footer*/
  border-color: #388087; /*Set color of the border*/
  background-color: #388087; /*Set background color of footer*/
  width: 100%; /*Maximise width*/
  height: 60px; /*Set height of footer*/
}

/*Style sheet for contents inside the footer tag*/
.developer{
  margin: auto; /*Align text in the center*/
  display: flex; /*make words flexible*/
  flex-direction: row; /*Align texts in a row*/
}

/*Style sheet for socials at the footer*/
.socialsa > img{
  width: 36px; /*Set width of photo*/
  height: 36px; /*Set height of photo*/
  padding: 5px; /*Set space between border of photo*/
  border-radius: 40%; /*Rounded border*/
  text-decoration: none; /*Do not iinclude any decorations between images*/
}

/*All Content here are adjusted and resized in order to fit a mobiel view*/
@media screen and (max-width: 800px){
/*Style for child elements inside navBar*/  
.navbar a {
  font-size: 8px; /*Reset font size to fit mobile screen*/
  padding: 14px 15px; /*Reset space between text and container*/
}


/*Style for drop down button (Child element)*/  
.dropdownMenu .dropButton {
  font-size: 8px;  /*Reset font for mobile view*/
  padding: 14px 30px; /*Reset space between text and container*/
}

/*Remove list points, add background color reset browser settings*/
.navigationBar {
  font-size: 18px; /*Reset font for mobile view*/
}

/*Style sheets for drop down button*/
.dropButton {
  padding: 14px 30px; /*Reset space between text and container*/
  font-size: 18px; /*Reset font for mobile view*/
}

.header{
  padding-top: 100px; /*Add space from the top of the header container*/
  margin-bottom: 90px; /*Space below the header container*/
}

/*Style sheet for education title*/
.educationTitle{
  font-size: 32px; /*Reset the font size*/
  text-align: center; /*Align text in the center*/
  width: 159px; /*Set width of the container*/
  height: fit-content; /*Height of container to fit content*/
  margin: auto; /*Set container in the center of viewport*/
}

/*Style sheet for each school*/
.educationElements{
  max-width: 318px; /*Maximum width of the container, cannot increase but can decrease in width*/
  max-height: fit-content; /*Height of container to fit content*/
  margin-top: -40px; /*Space above container */
}

/*Style sheet for school logo*/
.schoolLogo > img{
  max-width: 141px; /*Maximum width of container*/
  max-height: 120px; /*maximum height of container*/
}

/*Style sheet for items inside the element container*/
.educationContent{
  text-align: center; /*Align text in the center of the container*/
  padding: 0px; /*NO space between border of container and text*/
}

/*Style sheet for the header of the element container*/
.educationContent > h2{
  font-size: 12px; /*Reset font size of the text*/
}

/*Style sheet for the pargraph text of the element container*/
.educationContent > p{
  font-size: 10px; /*Reset font size of the content*/
  max-width: 260px; /*Reset max width of the container, can decrease in width but cannot increase*/
  height: fit-content; /*Height of container to fit content*/
}

/*Style sheet for footer of website*/
footer{
  flex-direction: row; /*Align footer in a row*/
  font-size: 8px; /*Set font size of text in footer*/
  height: 60px; /*Set height of footer*/
}

/*Style sheet for contents inside the footer tag*/
.developer{
  flex-direction: row; /*Align texts in a row*/
}

/*Style sheet for socials at the footer*/
.socialsa > img{
  width: 21px; /*Set width of photo*/
  height: 21px; /*Set height of photo*/
  padding: 3px; /*Set space between border of photo*/
}

}