/*Style sheet for everything within nav tag 
standardise all fonts in nav to sans serif*/
nav{
  font-family: sans-serif; /*Change font to sans serif*/
  position: fixed;  /*Whole of navigation bar to have a fixed position on the website*/
  width: 100%; /*Width of navigation bar to take up whole width of webpage*/
  z-index: 3; /*Overlaps other content*/
}

/* Style for navigation bar.*/
.navbar {
  background-color:#f6f6f2; /*set background color of navigation bar*/
}

/*Style for child elements inside navBar*/  
.navbar a {
  float: left; /*Float child elements to the left*/
  font-size: 16px; /*Set font size*/
  font-family: sans-serif; /*Set font style*/
  font-weight: bold; /*Bole the words*/
  color: #388087; /*Color of the words*/
  text-align: center; /*Align the child elements to the center of their container*/
  padding: 14px 30px; /*Space around the words*/
  text-decoration: none; /*No style of text decoration*/
}

/*Different color when on page*/
.Home{
  margin-left: 60px; /*Set space on the left of the home button*/
}
    
/*Style for items inside dropdownMenu (Parent Container)*/
.dropdownMenu {
  float: left; /*Float dropdown menu to the left*/
  overflow: hidden; /*Hide overflowed items*/
  background-color: #badfe7; /*Set background color when user is on page*/
}

/*Style for drop down button (Child element)*/  
.dropdownMenu .dropButton {
  font-size: 16px;  /*Set font size */
  font-family: sans-serif; /*Set font family*/
  font-weight: bold; /*Bold the word*/ 
  border: none; /*Set no border*/
  outline: none; /*Set no outlne*/
  color: #388087; /*Color of word*/
  padding: 14px 30px; /*Space between word and container*/
  background-color: inherit; /*Follow background color of set color*/
  font-family: inherit; /*Follow background color of set color*/
  margin: 0;
}

/* Style when hovering over items in the parent container*/
.navbar a:hover, .dropdownMenu:hover .dropButton {
  background-color: #badfe7; /*Background color when hoevering over elements*/
}
  
/*Style for items inside dropContent(Parent element)*/
.dropContent {
  display: none; /*No format of display*/
  position: absolute; /*Absolute to "About"*/
  background-color: white; /*Set back ground color of dropdown content*/
  min-width: 160px; /*set minimum width*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*Box shadow on drop contents*/
  z-index: 3; /*Overlaps every other layer*/
}

/*Style for child elements inside dropContent*/
.dropContent a {
  float: none; /*No float value*/
  color: #388087; /*Color of word*/
  padding: 12px 16px; /*Set space between word and container*/
  text-decoration: none; /*Set no text decoration*/
  display: block; /*Display item as a block*/
  text-align: left; /*Align text to the left*/
}
  
/*Style for child elements in dropContent when hovering*/
.dropContent a:hover {
  background-color: #badfe7; /*Color when hovering over words in drop down content*/
}
  
/*Display style for items inside dropContent*/
.dropdownMenu:hover .dropContent {
  display: block; /*Display items as a block*/
}

/*Style sheets for drop down button*/
.dropButton {
  background-color: #52ab98; /*Set background color*/
  color: #f6f6f2; /*Color of text to be white*/
  padding: 14px 30px; /*Set space between text and container*/
  font-size: 18px; /*Set font size*/
  border: none; /*Set mo border*/
  cursor: pointer; /*Cursor to be pointer when on dropButton*/
}

/*Style sheet for header section*/
header{
  padding-top: 229px;
  width: 100%;
  height: fit-content;
}



/*Style sheet for education title*/
.educationTitle{
  font-size: 54px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  width: 269px;
  height: 74px;
  margin-left: 300px;
  margin-bottom: 115px;;
}

.educationElements{
  border:2px solid;
  border-radius: 10px;;
  max-width: 1120px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 119px;
  justify-content: center;
}

.educationContent{
  display: flex;
  flex-direction: column;
  padding-left: 200px;;
}

.educationContent > h2{
  max-width: 262px;
  height: fit-content;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.educationContent > p{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 518px;
  height: fit-content;
  line-height: 2.0;
  word-spacing: 2px;
}

.schoolLogo > img{
  max-width: 230px;
  height: 215px;
  margin-top: 30px;
}

/*Style sheet for footer of website*/
footer{
  display: flex; /*Set flexible display*/
  flex-direction: row; /*Align footer in a row*/
  font-size: 14px; /*Set font size of text in footer*/
  font-family:  'Montserrat', sans-serif;    /*Set font family*/
  color: #f6f6f2; /*Set color of text*/
  position: relative; /*Set position relative to viewport*/
  top: 0px; /*Put 200px of distance between relative position*/
  border: 2px solid; /*Set border of the footer*/
  border-color: #388087; /*Set color of the border*/
  background-color: #388087; /*Set background color of footer*/
  width: 100%; /*Maximise width*/
  height: 60px; /*Set height of footer*/
}

/*Style sheet for contents inside the footer tag*/
.developer{
  margin: auto; /*Align text in the center*/
  display: flex; /*make words flexible*/
  flex-direction: row; /*Align texts in a row*/
}

/*Style sheet for socials at the footer*/
.socialsa > img{
  width: 36px; /*Set width of photo*/
  height: 36px; /*Set height of photo*/
  padding: 5px; /*Set space between border of photo*/
  border-radius: 40%; /*Rounded border*/
  text-decoration: none; /*Do not iinclude any decorations between images*/
}

@media screen and (max-width: 800px){
/*Style for child elements inside navBar*/  
.navbar a {
  font-size: 8px; /*Reset font size to fit mobile screen*/
  padding: 14px 15px; /*Reset space between text and container*/
}


/*Style for drop down button (Child element)*/  
.dropdownMenu .dropButton {
  font-size: 8px;  /*Reset font for mobile view*/
  padding: 14px 30px; /*Reset space between text and container*/
}

/*Remove list points, add background color reset browser settings*/
.navigationBar {
  font-size: 18px; /*Reset font for mobile view*/
}

/*Style sheets for drop down button*/
.dropButton {
  padding: 14px 30px; /*Reset space between text and container*/
  font-size: 18px; /*Reset font for mobile view*/
}

.educationTitle{
  font-size: 32px;
  width: fit-content;
  text-align: left;
  margin-left: 0px;
  padding-left: 36px;
  padding-right: 36px;
}

.educationElements{
  max-width: 318px;
  max-height: fit-content;
  margin-top: -40px;
}

.schoolLogo > img{
  max-width: 141px;
  max-height: 120px;
}

.educationContent{
  text-align: center;
  padding: 0px;
}


.educationContent > h2{
  font-size: 12px;
}

.educationContent > p{
  font-size: 10px;
  max-width: 260px;
  height: fit-content;
}

/*Style sheet for footer of website*/
footer{
  flex-direction: row; /*Align footer in a row*/
  font-size: 8px; /*Set font size of text in footer*/
  height: 60px; /*Set height of footer*/
}

/*Style sheet for contents inside the footer tag*/
.developer{
  flex-direction: row; /*Align texts in a row*/
}

/*Style sheet for socials at the footer*/
.socialsa > img{
  width: 21px; /*Set width of photo*/
  height: 21px; /*Set height of photo*/
  padding: 3px; /*Set space between border of photo*/
}

}