/*=========================================================================================================================================*/
/*Nav bar to appear on every page*/
/*=========================================================================================================================================*/
/*Style sheet for everything within nav tag 
standardise all fonts in nav to sans serif*/
nav{
  font-family: sans-serif; /*Change font to sans serif*/
  position: fixed;  /*Whole of navigation bar to have a fixed position on the website*/
  width: 100%; /*Width of navigation bar to take up whole width of webpage*/
  z-index: 3; /*Overlaps other content*/
}

/* Style for navigation bar.*/
.navbar {
  background-color:#f6f6f2; /*set background color of navigation bar*/
}

/*Style for child elements inside navBar*/  
.navbar a {
  float: left; /*Float child elements to the left*/
  font-size: 16px; /*Set font size*/
  font-family: sans-serif; /*Set font style*/
  font-weight: bold; /*Bole the words*/
  color: #388087; /*Color of the words*/
  text-align: center; /*Align the child elements to the center of their container*/
  padding: 14px 30px; /*Space around the words*/
  text-decoration: none; /*No style of text decoration*/
}

/*Different color when on page*/
.Home{
  margin-left: 60px; /*Set space on the left of the home button*/
}
    
/*Style for items inside dropdownMenu (Parent Container)*/
.dropdownMenu {
  float: left; /*Float dropdown menu to the left*/
  overflow: hidden; /*Hide overflowed items*/
}

/*Style for drop down button (Child element)*/  
.dropdownMenu .dropButton {
  font-size: 16px;  /*Set font size */
  font-family: sans-serif; /*Set font family*/
  font-weight: bold; /*Bold the word*/ 
  border: none; /*Set no border*/
  outline: none; /*Set no outlne*/
  color: #388087; /*Color of word*/
  padding: 14px 30px; /*Space between word and container*/
  background-color: inherit; /*Follow background color of set color*/
  font-family: inherit; /*Follow background color of set color*/
  margin: 0;
}

/* Style when hovering over items in the parent container*/
.navbar a:hover, .dropdownMenu:hover .dropButton {
  background-color: #badfe7; /*Background color when hoevering over elements*/
}
  
/*Style for items inside dropContent(Parent element)*/
.dropContent {
  display: none; /*No format of display*/
  position: absolute; /*Absolute to "About"*/
  background-color: white; /*Set back ground color of dropdown content*/
  min-width: 160px; /*set minimum width*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*Box shadow on drop contents*/
  z-index: 3; /*Overlaps every other layer*/
}

/*Style for child elements inside dropContent*/
.dropContent a {
  float: none; /*No float value*/
  color: #388087; /*Color of word*/
  padding: 12px 16px; /*Set space between word and container*/
  text-decoration: none; /*Set no text decoration*/
  display: block; /*Display item as a block*/
  text-align: left; /*Align text to the left*/
}
  
/*Style for child elements in dropContent when hovering*/
.dropContent a:hover {
  background-color: #badfe7; /*Color when hovering over words in drop down content*/
}
  
/*Display style for items inside dropContent*/
.dropdownMenu:hover .dropContent {
  display: block; /*Display items as a block*/
}

/*Style sheets for drop down button*/
.dropButton {
  background-color: #52ab98; /*Set background color*/
  color: #f6f6f2; /*Color of text to be white*/
  padding: 14px 30px; /*Set space between text and container*/
  font-size: 18px; /*Set font size*/
  border: none; /*Set mo border*/
  cursor: pointer; /*Cursor to be pointer when on dropButton*/
}

/*=========================================================================================================================================*/
/*Footer to appear on every page*/
/*=========================================================================================================================================*/
/*Style sheet for footer of website*/
footer{
  display: flex; /*Set flexible display*/
  flex-direction: row; /*Align footer in a row*/
  font-size: 14px; /*Set font size of text in footer*/
  font-family:  'Montserrat', sans-serif;    /*Set font family*/
  color: #f6f6f2; /*Set color of text*/
  position: relative; /*Set position relative to viewport*/
  top: 0px; /*Put 200px of distance between relative position*/
  border: 2px solid; /*Set border of the footer*/
  border-color: #388087; /*Set color of the border*/
  background-color: #388087; /*Set background color of footer*/
  width: 100%; /*Maximise width*/
  height: 60px; /*Set height of footer*/
}

/*Style sheet for contents inside the footer tag*/
.developer{
  margin: auto; /*Align text in the center*/
  display: flex; /*make words flexible*/
  flex-direction: row; /*Align texts in a row*/
}

/*Style sheet for socials at the footer*/
.socialsa > img{
  width: 36px; /*Set width of photo*/
  height: 36px; /*Set height of photo*/
  padding: 5px; /*Set space between border of photo*/
  border-radius: 40%; /*Rounded border*/
  text-decoration: none; /*Do not iinclude any decorations between images*/
}

/*=========================================================================================================================================*/
/*ALL CSS STYLE FOR HOME PAGE STARTS HERE*/
/*=========================================================================================================================================*/
/*Style sheet for home page body*/
.homebody{
  /*Background image for the website*/
  background-image: url("https://images.unsplash.com/photo-1551554781-c46200ea959d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
  background-repeat: repeat; /*Do not repeat the background image*/
}

/*Style for items inside header*/
.homeheader{
  text-align: center; /*Align text in the center*/
  font-family: sans-serif; /*Set font family*/
  position: realtive; /*Position is relative to the viewport*/
  /*Background image for the header section*/
  background-image: url("https://i.pinimg.com/originals/2c/4b/d8/2c4bd83620ea9b7fca769f5f2df69dfe.jpg");
  background-repeat: no-repeat; /*Do not repeat backgroun image*/
  background-size: cover;
  max-width: 100%; /*Set width to size of website*/
  height: 1000px; /*Height of header section from the top*/
}

/*Style sheet for header name*/
.headerName{
  font-size: 80px; /*Set font size*/
  font-family: sans-serif; /*Set font style*/
  color: #f6f6f2; /*Color of header name*/
  width: 100%; /*Set header name container to full size*/
  height: 109px; /*Set height of header name*/
  border: none; /*No border to be included*/
  margin: auto; /*Align header name container in the center*/
  padding-top: 12px; /**/
  padding-bottom: 50px; /*Space between header name container and sub header container*/
  z-index: 0; /*Not overlap any content*/
}

/*Style sheet for subheader name*/
.Homesubheader{
  font-size: 21px; /*Set font size*/
  font-family:  'Montserrat', sans-serif; /*Set font family*/
  margin: 10px; /*Set space outside of sub header container*/
  color: #c2edce; /*Color of text*/
  position: relative; /*Position relative to the viewport*/
  top: 0px; /*No space above*/
  width: 100%; /*Width is full size of parent container*/
}

/*Style sheet for contents inside the header*/
.headerContent{
  position:relative; /*Position is relative to the viewoprt*/
  top: 160px; /*Space at the top of the container*/
  border: 2px solid; /*Set border of container*/
  margin:auto; /*Set container to the center*/
  max-width: 844px; /*Set width of container*/
  padding: 100px; /*Space between text and container*/
  padding-bottom: 30px; /*space between bottom of text and container*/
  background-color: #6fb3b8; /*Background of container*/
  border-color: #6fb3b8; /*Border color of container*/
}

/*Style sheet for my socials (images)*/
.socials > img{
  width: 36px; /*Set width of image*/
  height: 36px; /*Set height if image*/
  padding: 5px; /*Space between image and container*/
  border-radius: 40%; /*Rounded borders*/
  position:relative; /*Relaive to viewport*/
  top: 5px; /*Space at the top and outside of the container*/
  text-decoration: none; /*No text decoration*/
}

/*Style sheet for my profile photo*/
.profileImage{
  width: 244px; /*Width of profile image*/
  height: 248px; /*Height of profile image*/
  border:10px solid; /*Border of image*/
  border-color: #c2edce; /*Set border color*/
  border-radius: 50%; /*Round the image*/
  z-index: 2; /*Overlaps other content but not nav bar*/
  position: relative; /*Position is relative to viewport*/
  top: 260px; /*Space from top of view port to picture*/
}

/*Style sheet for "Contact Me" header*/
.contactHeader{
  text-align: center; /*Align text in the center*/
  font-size: 54px; /*Set size of words*/
  font-family: sans-serif; /*Set font style*/
  position: relative; /*Position if relative to the viewport*/
  top: 100px; /*Space on top from relative position*/
  color:black; /*Color of text*/
  width: 500px; /*Width of text container*/
  margin: auto; /*Set container in the center*/
  margin-bottom: 40px; /*Space outside and below the container*/
}  

.contactSection{
  padding-bottom: 200px;
}

/*Style sheet for items inside the contact me section*/
.contactMe{
  position: relative; /*Position relative to the viewport*/
  top: 100px; /*Space on top from relative position*/
  display: flex; /*FLexible display*/
  flex-direction: column; /*Arrange flex items as column*/
  border: 2px solid; /*Set border thickness and line style*/
  width: 844px; /*Set width of container*/
  padding: 21px; /*Space between content and border*/
  margin: auto; /*Set content in the center*/
  font-weight: bold; /*Bold texts*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Set font style*/
  color:black; /*Color of text*/
  /*Insert background image*/
  background-image: url("https://www.longrunfiji.com/wp-content/uploads/2018/02/circles-dark.png");
}


/*Style sheets for my contact information*/
.contactContent{
  display: flex; /*display item as flexible item*/
  flex-direction: row; /*Arrange item in rows*/
  justify-content: space-between; /*Move contents to ends of border*/
  text-align: left; /*Align texts to the left*/
  margin: auto; /*Align box in center*/
  margin-bottom: 40px; /*Add space below to separate from other child element*/
  width: 80%; /*Set width of text container*/
  z-index: 1; /*Does not overlap other contents*/
}

.contactInfo{
  padding-right: 100px; /*Aligning the child element*/
}

/*Style sheet for the form*/
label{
 display: flex; /*Flexible item*/
 flex-direction: row; /*Arrange flex items in rows*/
 justify-content: space-between; /*Place items with space between them will be aligned equally*/
 padding-bottom: 60px; /*Space between the bottom of content and container*/
}

/*Style sheet for input section of the form*/
input{
  width: 50%; /*Set width of input*/
  border: 1px solid; /*Set border of input*/
  border-radius: 4px; /*Set border radius to rounded*/
}
  
/*Style sheet for message input of the form*/
#message{
  padding-bottom: 200px; /*Set space below the message*/
}

/*Style sheet for the submit buttom*/
.button{
  text-align: center; /*Align text in the center*/
  border: 2px solid; /*Set border of the button*/
  background-color: #6fb3b8; /*Set background color of button*/
  color:white; /*Color of text*/
  padding: 10px 24px; /*Set space between text and container*/
  display: flex; /*flexible display*/
  margin: auto; /*Aling button in the center of form*/
}

/*When hovering over submit button*/
.button:hover{
  color:grey; /*Color of button when hovering over*/
  cursor: pointer; /*Cursor to change to pointer upon hovering*/
}

/*Style sheet of the form*/
form{
  width: 80%; /*Set the width of form container*/
  margin: auto; /*Set form to center of screen*/
}

/*=========================================================================================================================================*/
/*ALL CSS FOR ABOUT PERSONALITY PAGE STARTS HERE*/
/*=========================================================================================================================================*/
/*Style sheet for body*/
/*Background image */
.aboutbody{
  background-image: linear-gradient(rgba(223, 217, 217, 0.5), rgba(204, 201, 201, 0.5)),url("https://thumbs.dreamstime.com/t/stationery-background-school-tools-seamless-pattern-art-education-wallpaper-line-icons-pencil-pen-paintbrush-palette-169146507.jpg");
  background-repeat: repeat;
  opacity: 1;
}

/*Style sheet for "About Me" Section (Parent Container)*/
.AboutMeheader{
  position: relative; /*Set position relative to viewport*/
  top: 0px; /*Leave no space from the viewport*/
  max-width: 100%; /*Make width to full screen size*/
  height: 650px; /*Adjust height to fit content into container*/
  padding-top: 262px; /*Put distance between title and topof header container*/
}

/*Style sheet for "About Me" title*/
.aboutMe{
  text-align: center; /*Align title to the center*/
  font-size: 54px; /*Set font size*/
  font-family: sans-serif; /*Set font style*/
  margin-bottom: 80px; /*Create space between title and content*/
  margin-top: 0px; /*No space betwen top of container and title*/
  border: 2px solid; /*Place border around title*/
  border-color: #f2f2f2 ; /*Implement border color*/
  background-color: #f2f2f2 ; /*Color of background*/
  width: 275px; /*Width of container*/
  height: fit-content; /*Height of container to fit content*/
  margin: auto; /*Align container in the center*/
}

/*Style sheet for about content*/
.aboutContent{
  display: flex; /*make display flexible*/
  flex-direction: row-reverse; /*Set the order to reverse and align in row*/
  width: 900px; /*Set width of content container*/
  margin: auto; /*Align container in the center */
  margin-top: 50px; /**/
  color: black; /*Color of text*/
  background-color: #52ab98; /*Set background color of container*/
  padding: 10px; /*Set space between content and container*/
  border-radius: 10px; /*Round border*/
  color: #f6f6f2; /*Set color of text in the container*/
}
  
/*Style sheet for about content (child elements) */
.contentElements{
  margin: auto; /*Align contents in the center of their containers*/
}

/*Style sheet for image in about me content*/
.aboutContent > img{
  width: 192px; /*Set width of image*/
  height: 181px; /*Set height of image*/
  margin-top: 15px; /*Set space between image and top of parent container*/
  border-radius:10%; /*Rounded border*/
}

/*Style sheet for p tag in about me content */
.aboutContent > p{
  display: flex;
  text-align: left; /*Align text to the left of the container*/
  font-size: 21px; /*Set font size*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Set font style*/
  margin-top: 0px; /*No space between text container and top of parent container*/
  width: 526px; /*Set width of text container*/
  height: fit-content; /*Set height to fit text content*/
  line-height: 2.0; /*Adjust spacinig between lines*/
  word-spacing: 2px; /*Set word spacing between words*/
  }

/*Stle sheet for hobby section*/
.hobbies{
  width: 100%; /*Set width to full size of screen*/
  height: fit-content;; /*Set height to fit content inside hobby section*/
  padding-top: 200px; /*Distance of section from the about me header sectiom*/
  padding-bottom: 140px; /*Put space between section and footer*/
}

/*Style sheet for hobby title*/
.hobbyHeader{
  text-align: center; /*Align title to the center*/
  font-size: 54px; /*Set font size to 54 pixels*/
  font-family: sans-serif; /*Set font family of title*/
  border: 2px solid; /*Set border of title*/
  width: 314px; /*Set width of container*/
  height: fit-content; /*Height of container to fit content*/
  margin:auto; /*Set container to center of screen*/
  background-color:#f2f2f2; /*Implement background color*/
  border-color: #f2f2f2; /*Border color*/
}

/*Style sheet for hobby content container*/
.hobbyContent{
  display: flex; /*Make display of container flexible*/
  flex-wrap: wrap; /*Allow child containers to wrap*/
  width: 100%; /*Set width to full size of screen*/
  justify-content: center; /*Make child containers align in the center*/
  height: fit-content; /*Set height to fit content*/
  margin-top: 18px; /*Set distance between content and title*/
}

/*Style sheet for hobby elements container*/
.hobbyElements{
  text-align: center; /*Align text in the center */
  margin-top: 0px; /*Leave no space at the top of the text*/
  margin: 38px; /*Set distance between each child container*/
  width: 492px; /*Width of container*/
  height: 480px; /*Height of container*/
  border: 2px solid; /*Set border of hobby elements*/
  border-radius:10%; /*Rounded border*/
  background-color: #f2f2f2; /*Implememnt background color*/
  border-color: #f2f2f2; /*Implement border color*/
}

/*Style sheet for title*/
.hobbyTitle{
  font-size: 24px; /*Set font size*/
  font-family: sans-serif; /*Set font style*/
  font-weight: bold; /*Bold the text*/
  width: 85px; /*Set width of the title container*/
  height: fit-content; /*Set height to fit content*/
  margin: auto; /*Set title in the center of the container*/
  margin-bottom: 26px; /*Set space between title and the paragraph text*/
  margin-top: 43px; /*Set space between title and border*/
}

/*Style sheet for title content container*/
.hobbyInfo{
  width: 440px; /*Set width of the content container*/
  height: 360px; /*Set heigh of content container*/
  margin: auto; /*Align container in the center of the child container*/
  border: 2px solid; /*Set border of hobby text and image content*/
  border-radius:10%; /*Rounded border*/
  background-color: #52ab98; /*Background color*/
  border-color: #52ab98; /*Border color*/
}

/*Style sheet for title content text*/
.hobbyInfo > p{
  font-size: 20px; /*Set font size*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Set font style*/
  width: 358px; /*Set width of text content*/
  height: fit-content; /*Height to fit text content*/
  margin: auto; /*Align text container in the center*/
  margin-top: 10px; /*Put distance between text container and content container*/
  padding-top: 0px; /*remove distance between text container and content container*/
  margin-bottom: 16px; /*Set distance between text and image*/
  color: #f2f2f2;/* Color of text*/
}

/*Style sheet for image in the container content*/
.hobbyInfo > img{
  width: 350px; /*Set width of image*/
  height: 200px; /*Set height of image*/
  border-radius:10%;  /*Rounded border*/
}

/*=========================================================================================================================================*/
/*CSS FOR EDUCATION PAGE STARTS HERE*/
/*=========================================================================================================================================*/
/*Style sheet for body*/
/*Background image */
.aboutbody{
  background-image: linear-gradient(rgba(223, 217, 217, 0.5), rgba(204, 201, 201, 0.5)),url("https://thumbs.dreamstime.com/t/stationery-background-school-tools-seamless-pattern-art-education-wallpaper-line-icons-pencil-pen-paintbrush-palette-169146507.jpg");
  background-repeat: repeat;
  opacity: 1;
}

/*Style sheet for header section*/
.educationheader{
  padding-top: 229px; /*Increase space above inside header container*/
  max-width: 100%; /*max width is full width of webpage*/
  height: fit-content; /*Height of header container to fit content*/
}

/*Style sheet for education title*/
.educationTitle{
  font-size: 54px; /*Set font size*/
  font-weight: bold; /*Bold the text*/
  font-family: sans-serif; /*Set font style*/
  text-align: center; /*Align the text in the center*/
  width: 269px; /*Set width of text container*/
  height: 74px; /*Set height of text container*/
  margin-left: 300px; /*Set space outside the container on the left*/
  margin-bottom: 115px; /*Set space below and outside the container*/
  background-color: white; /*Set background color of the container*/
}

.educationElements{
  border:none; /*No border for the container*/
  border-radius: 10px; /*Round the border of container*/
  max-width: 1120px; /*Max width of container, can go smaller if screen size is smaller*/
  height: fit-content; /*Height of container to fit content*/
  display: flex; /*Make display flexible*/
  flex-wrap: wrap; /*Wrap items if there isn't enough space*/
  margin: auto; /*Set container in the center of the screen*/
  margin-bottom: 119px; /*Set space outside and bottom of the container*/
  justify-content: center; /*Place content in the center of the parent container*/
  background-color: #2b6777 ; /*Set background color of the container*/
}

.educationContent{
  display: flex; /*Make display flexible*/
  flex-direction: column; /*Arrange flex items in a column*/
  padding-left: 200px; /*Add space inside the container at the left*/
  color: #f6f6f2; /*Color of text in the container*/
}

.educationContent > h2{
  max-width: 262px; /*maximum width of the container, can decrease in size*/
  height: fit-content; /*Height of container to fit content*/
  font-size: 24px; /*Set font size of text*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*Set font style*/
  line-height: 1.5; /*Spacing between each line*/
}

.educationContent > p{
  font-size: 20px; /*Set font size of text*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*Set font style of text*/
  max-width: 518px; /*Maximum width of container, can decrease but not increase in size*/
  height: fit-content; /*Height of container to fit content*/
  line-height: 2.0; /*Space between each line*/
  word-spacing: 2px; /*Space between each word*/
}

.schoolLogo > img{
  max-width: 230px; /*Width of image cannot increase but can decrease in size*/
  height: 215px; /*Height of image*/
  margin-top: 30px; /*Set space on top of image*/
  background-color: #ffffff; /*Background color of image if image has no background*/
}

/*On screens that are 800px or less, set website layout to the following*/
@media screen and (max-width: 800px){
/*=========================================================================================================================================*/
/*Nav bar to appear on every page (MEDIA QUERY)*/
/*=========================================================================================================================================*/
/*Style for child elements inside navBar*/  
.navbar a {
  font-size: 8px; /*Reset font size to fit mobile screen*/
  padding: 14px 15px; /*Reset space between text and container*/
}


/*Style for drop down button (Child element)*/  
.dropdownMenu .dropButton {
  font-size: 8px;  /*Reset font for mobile view*/
  padding: 14px 30px; /*Reset space between text and container*/
}

/*Remove list points, add background color reset browser settings*/
.navigationBar {
  font-size: 18px; /*Reset font for mobile view*/
}

/*Style sheets for drop down button*/
.dropButton {
  padding: 14px 30px; /*Reset space between text and container*/
  font-size: 18px; /*Reset font for mobile view*/
}

/*=========================================================================================================================================*/
/*Footer to appear on every page (MEDIA QUERY)*/
/*=========================================================================================================================================*/
/*Style sheet for footer of website*/
footer{
  flex-direction: row; /*Align footer in a row*/
  font-size: 8px; /*Set font size of text in footer*/
  height: 60px; /*Set height of footer*/
}

/*Style sheet for contents inside the footer tag*/
.developer{
  flex-direction: row; /*Align texts in a row*/
}

/*Style sheet for socials at the footer*/
.socialsa > img{
  width: 21px; /*Set width of photo*/
  height: 21px; /*Set height of photo*/
  padding: 3px; /*Set space between border of photo*/
}

/*=========================================================================================================================================*/
/*ALL MEDIA QUERY FOR HOME PAGE STARTS HERE*/
/*=========================================================================================================================================*/
/*Style for items inside header*/
.homeheader{
  height: 700px; /*Reset height for mobile view*/
}

/*Style sheet for header name*/
.headerName{
  font-size: 30px; /*Reset font size for mobile view*/
  width: 300px; /*Reset width for mobile*/
  height: 109px; /*Reset height for mobile*/
  padding-top: 30px; /*Reset space between container and content for mobile*/
  margin-bottom: -90px; /*Reset bottom of space outside container for mobile*/
}

/*Style sheet for subheader name*/
.Homesubheader{
  font-size: 10px; /*Reset font size*/
  margin: 10px; /*Reset space outside container for mobile*/
}

/*Style sheet for contents inside the header*/
/*All Content are adjusted to fit mobile views*/
.headerContent{
  top: 160px;
  border: 2px solid;
  margin:auto;
  width: auto;
  padding: 30px;
  padding-bottom: 30px;
  background-color: #6fb3b8;
  border-color: #6fb3b8;
}

/*Style sheet for my socials (images)*/
/*All Content are adjusted to fit mobile views*/
.socials > img{
  width: 21px;
  height: 21px;
  padding: 5px;
  border-radius: 40%;
  position:relative;
  top: 5px;
  text-decoration: none;
}

/*Style sheet for my profile photo*/
/*All Content are adjusted to fit mobile views*/
.profileImage{
  width: 100px;
  height:102px;
  border:5px solid;
  border-color: #c2edce;
  border-radius: 50%; /*Round the image*/
  z-index: 1;
  position: relative;
  top: 210px;
}

/*Style sheet for "Contact Me" header*/
/*All Content are adjusted to fit mobile views*/
.contactHeader{
  font-size: 21px;
  position: relative;
  top: 100px;
  margin-bottom: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  width: 200px;
}  

/*Style sheet for items inside the contact me section*/
/*All Content are adjusted to fit mobile views*/
.contactMe{
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  border: none;/*Removed border*/
  text-align: center;
  width: auto; /*set width to auto*/ 
  padding: 21px; /*Space between content and border*/
  margin: auto; /*Set content in the center*/
  font-size: 10px; /*Decrease font size*/
  font-weight: bold;
}


/*Style sheets for my contact information*/
/*All Content are adjusted to fit mobile views*/
.contactContent{
  margin-bottom: 40px; /*Add space below to separate from other child element*/
}

.contactInfo{
  padding-right: 0px; /*Aligning the child element*/
}

/*Style sheet for the form*/
/*All Content are adjusted to fit mobile views*/
label{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding-bottom: 60px;
}

/*Style sheet for input section of the form*/
/*All Content are adjusted to fit mobile views*/
input{
  width: 50%;
  border: 1px solid;
  border-radius: 4px;
}
 
/*Style sheet for message input of the form*/
/*All Content are adjusted to fit mobile views*/
#message{
  width: 50%;
  padding-bottom: 100px;
}

/*Style sheet for the submit buttom*/
/*All Content are adjusted to fit mobile views*/
.button{
  text-align: center;
  border: none;
  background-color: #6fb3b8;
  color:white;
  padding: 10px 24px;
  cursor: pointer;
}
/*=========================================================================================================================================*/
/*ALL MEDIA QUERY FOR PERSONALITY PAGE STARTS HERE*/
/*=========================================================================================================================================*/
/*Style sheet for "About Me" Section (Parent Container)*/
.AboutMeheader{
  width: 100%; /*Make width to full screen size*/
  height:500px; /*Adjust height to fit content into container*/
  padding-top: 122px; /*Put distance between title and topof header container*/
}

/*Style sheet for "About Me" title*/
.aboutMe{
  font-size: 32px; /*Set font size*/
  margin-bottom: 71px; /*Create space between title and content*/
  margin-top: 0px; /*Create space betwen top of container and title*/
}

/*Style sheet for about content*/
.aboutContent{
  display: flex; /*make display flexible*/
  flex-direction: column-reverse; /*Set the order to reverse and align in row*/
  width: 100%; /*Set width of content container*/
  justify-content: center; /*Align container in the center */
}

/*Style sheet for text inside the text container*/
.aboutContent > p{
  text-align: center; /*Align text in the center*/
}
 
/*Style sheet for image in about me content*/
.aboutContent > img{
  width: 114px; /*Set width of image*/
  height: 108px; /*Set height of image*/
  margin-top: 15px; /*Set space between image and top of parent container*/
  margin-bottom: 27px; /*Put some space between image and text*/
  border-radius:10%; /*Rounded border*/
}

/*Style sheet for p tag in about me content */
.aboutContent > p{
  font-size: 10px; /*Set font size*/
  width: 324px; /*Set width of text container*/
  height: fit-content; /*Set height to fit text content*/
  color:#f2f2f2
  }

/*Stle sheet for hobby section*/
.hobbies{
  padding-top: 120px; /*Distance of section from the about me header sectiom*/
}

/*Style sheet for hobby title*/
.hobbyHeader{
  font-size: 32px; /*Set font size to 54 pixels*/
}

/*Style sheet for hobby content container*/
.hobbyContent{
  justify-content: center; /*Make child containers align in the center*/
  height: fit-content; /*Set height to fit content*/
  margin-top: 18px; /*Set distance between content and title*/
}

/*Style sheet for hobby elements container*/
.hobbyElements{
  margin: 38px; /*Set distance between each child container*/
  width: 318px; /*Width of container*/
  height: 288px; /*Height of container*/
}

/*Style sheet for title*/
.hobbyTitle{
  font-size: 12px; /*Set font size*/
  width: 85px; /*Set width of the title container*/
  height: fit-content; /*Set height to fit content*/
  margin: auto; /*Set title in the center of the container*/
  margin-bottom: 26px; /*Set space between title and the paragraph text*/
  margin-top: 43px; /*Set space between title and border*/
}

/*Style sheet for title content container*/
.hobbyInfo{
  width: 285px; /*Set width of the content container*/
  height: 190px; /*Set heigh of content container*/
  margin: auto; /*Align container in the center of the child container*/
  border: 2px solid; /*Set border of hobby text and image content*/
}

/*Style sheet for title content text*/
.hobbyInfo > p{
  font-size: 10px; /*Set font size*/
  width: 232px; /*Set width of text content*/
}

/*Style sheet for image in the container content*/
.hobbyInfo > img{
  width: 232px; /*Set width of image*/
  height: 110px; /*Set height of image*/
  border-radius:10%; /*Rounded border*/
}

/*=========================================================================================================================================*/
/*CSS FOR EDUCATION PAGE STARTS HERE*/
/*=========================================================================================================================================*/
.educationheader{
  padding-top: 100px; /*Add space from the top of the header container*/
  margin-bottom: 90px; /*Space below the header container*/
}

/*Style sheet for education title*/
.educationTitle{
  font-size: 32px; /*Reset the font size*/
  text-align: center; /*Align text in the center*/
  width: 159px; /*Set width of the container*/
  height: fit-content; /*Height of container to fit content*/
  margin: auto; /*Set container in the center of viewport*/
}

/*Style sheet for each school*/
.educationElements{
  max-width: 318px; /*Maximum width of the container, cannot increase but can decrease in width*/
  max-height: fit-content; /*Height of container to fit content*/
  margin-top: -40px; /*Space above container */
}

/*Style sheet for school logo*/
.schoolLogo > img{
  max-width: 141px; /*Maximum width of container*/
  max-height: 120px; /*maximum height of container*/
}

/*Style sheet for items inside the element container*/
.educationContent{
  text-align: center; /*Align text in the center of the container*/
  padding: 0px; /*NO space between border of container and text*/
}

/*Style sheet for the header of the element container*/
.educationContent > h2{
  font-size: 12px; /*Reset font size of the text*/
}

/*Style sheet for the pargraph text of the element container*/
.educationContent > p{
  font-size: 10px; /*Reset font size of the content*/
  max-width: 260px; /*Reset max width of the container, can decrease in width but cannot increase*/
  height: fit-content; /*Height of container to fit content*/
}

}
